body {
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'outfit','Courier New', Courier, monospace;
}
p {
    margin: 0
}

a {
    color:lightgreen ;
}

input:invalid {
    border: red 1px solid
}

.sidebar{
    width: 100%;
    height: 100%;
    position:relative
}

.sidebar-logo-wrapper{
    position:absolute;
    top: 30%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.731);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10rem;
}   

.outer-section{
    height: calc(100vh - 5px);
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
}

.hero-text{
font-size: 3rem;
}
.content-wrapper{
    display: flex;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.main-container{
    background-color: rgba(10, 7, 46, 0.918);
}

.form-wrapper{
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    border-radius: 1em;
    padding: 1rem;
    max-width: 500px;
    -webkit-box-shadow: 2px 6px 5px 1px rgba(55, 55, 55, 0.662);;
    -moz-box-shadow: 2px 6px 5px 1px rgba(55, 55, 55, 0.662);
    box-shadow: 2px 6px 5px 1px rgba(55, 55, 55, 0.662);
    background-color: white;
    color: rgb(35, 39, 43);
}

.form-section{
    display: flex;
    flex-direction: column;
}

.form-outer-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    
}

.form-fields-wrapper input{
    display: flex;
    flex-direction: row;
    padding: .5rem;
    border-radius: .5em;
}

.submit-btn{
    margin-top: 1.5rem;
    padding: 1em 1.5em;
    font-size: 1.1rem;
    background-color: lightgreen;
    color:rgb(21, 15, 56);
    border-radius: 1em;
    width: 100%;
    align-self: center;
}

.features-list{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
@media screen and (max-width: 762px) {
    .outer-section{
        height: calc(100vh - 5px);
        display: grid;
        grid-template-columns: minmax(0, 1fr) 
    }
    .container{
        overflow: hidden;
        text-align: center;
    }
    .features-list  {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: start;
    }
  }
  @media screen and (max-width: 480px){
    .form-fields-wrapper{
        display: flex;
        flex-direction: column;
    }

    .form-outer-wrapper{
        grid-template-columns: 1fr;
    }
  }
